/* ==UserStyle==
@name         DNDBeyond Dark
@namespace    wmak
@version      1.0.9
@preprocessor uso
@homepageURL  https://github.com/wmak/dndbeyond-darktheme
@author       wmak
@var text backgroundUrl "Background Image URL" ""
@var color baseColor "Base Color" #2d2d2d
@var color fontColor "Font Color" #fff2f2
@var color secondaryColor "Secondary Color" #1e0505
@var color borderColor "Border Color" #bf0000
@var color highlightColor "Highlight Color" #c54e00
==/UserStyle== */
@-moz-document regexp("https://www.dndbeyond.com/profile/.*/characters/\\d*") {
    .ct-mobile-divider__label,
    .ct-main-mobile .ct-senses,
    .ct-skills-mobile .ct-skills,
    .ct-actions-mobile .ct-tab-options,
    .ct-equipment-mobile,
    .ct-spells-mobile,
    .ct-features-mobile,
    .ct-proficiency-groups-mobile,
    .ct-description-mobile .ct-description,
    .ct-notes-mobile .ct-notes,
    .ct-extras-mobile,
    .ct-main-mobile__saving-throws,
    .ct-quick-nav__button,
    .ct-status-summary-mobile__health,
    .ct-character-header-desktop__button,
    .ct-character-header-tablet__button,
    .ct-status-summary-mobile__button,
    .ct-campaign-summary,
    .ct-spell-manager__spell > .ct-collapsible__content,
    .ct-combat-tablet__cta-button {
        background-color: /*[[secondaryColor]]*/
        !important;
        border-color: /*[[borderColor]]*/
    }

    .character-checkbox-input,
    .ct-item-detail__tag,
    .ct-spell-detail__tag,
    .ct-slot-manager__slot {
        background-color: /*[[baseColor]]*/;
        box-shadow: inset 0 0 4px 0/*[[secondaryColor]]*/;
        border: 1px solid/*[[fontColor]]*/;
    }

    .ct-slot-manager__slot::before {
        background-color: /*[[borderColor]]*/;
    }

    a,
    a:visited,
    .ct-spells-spell__as-ritual,
    .ct-spells-spell__at-will,
    .ct-content-group__header-content,
    .ct-class-detail__name,
    .site .ct-theme-link,
    .ct-actions-list__heading {
        color: /*[[borderColor]]*/
    }

    .site .ct-theme-button--filled.ct-button,
    .ct-quick-nav__edge-toggle,
    .ct-quick-nav__toggle,
    .ct-tab-options--layout-pill .ct-tab-options__header-heading--active {
        background-color: /*[[borderColor]]*/
        !important;
        color: /*[[fontColor]]*/
        !important;
    }

    .ct-tab-options__header-heading {
        background-color: /*[[fontColor]]*/
        !important;
        color: /*[[borderColor]]*/
        !important;
    }

    .ct-number-bar__option:hover,
    .site .ct-theme-button--outline.ct-button:hover,
    .site .ct-theme-button--filled.ct-button:hover,
    .site .ct-button.ct-theme-button--outline:disabled,
    .ct-tab-options--layout-pill .ct-tab-options__header-heading:hover {
        background-color: /*[[baseColor]]*/
        !important;
    }


    .ct-spells-spell__scaled-level {
        background-color: /*[[highlightColor]]*/;
    }

    .ct-spells-spell__scaled-level span {
        color: /*[[borderColor]]*/
    }

    .ct-collapsible__header,
    .ct-tablet-box__header,
    .ct-tablet-box__inner,
    .ct-sidebar__pane-content {
        background: /*[[secondaryColor]]*/;
    }

    .ct-spells-filter__box,
    .ct-extras-filter__box,
    .ct-inventory-filter__box,
    input[type=number],
    .ct-ability-score-manager__component-value,
    .ct-character-sheet:before {
        background: /*[[baseColor]]*/
        !important;
        color: /*[[fontColor]]*/
        !important;
    }

    body.body-rpgcharacter-sheet {
        background: url(/*[[backgroundUrl]]*/) no-repeat center center fixed, url()/*[[baseColor]]*/
        !important;
        background-size: cover !important;
    }

    input[type=number] {
        border: 1px solid/*[[borderColor]]*/
    }

    .ct-equipment-shop__item > .ct-collapsible__content {
        background: /*[[secondaryColor]]*/;
    }

    .ct-proficiency-bonus-box__heading,
    .ct-ability-summary__abbr,
    .ct-ability-summary__label,
    .ct-proficiency-bonus-box__value,
    .ct-ability-summary__primary,
    .ct-item-name--rarity-common,
    span,
    div {
        color: /*[[fontColor]]*/;
    }

    .ct-no-proficiency-icon {
        background-color: /*[[secondaryColor]]*/;
        border: 1px dotted/*[[fontColor]]*/;
    }

    .ct-character-tidbits__menu-status--closed::before,
    .ct-character-tidbits__menu-status--opened::before {
        border-top-color: /*[[borderColor]]*/
    }

    .body-rpgcharacter-sheet .site-bar,
    .ct-tab-list__nav-item--active,
    .ct-character-tidbits__avatar {
        border-color: /*[[borderColor]]*/
    }

    .ct-number-bar__option {
        background: /*[[baseColor]]*/;
        border-color: /*[[borderColor]]*/
    }

    .ct-number-bar__option--implied,
    .ct-number-bar__option--active {
        background: /*[[borderColor]]*/
    }

    .ct-sidebar__pane-gap,
    .site .ct-theme-button--outline.ct-button,
    .ct-tablet-box__border,
    .ct-sidebar__pane-content {
        background: /*[[secondaryColor]]*/;
        border-color: /*[[borderColor]]*/
    }

    .ct-combat-tablet__initiative-label,
    .ct-inspiration__label,
    .ct-combat__summary-label--outline {
        text-shadow: none
    }

    .site .ct-health-summary__adjuster-button--damage.ct-button {
        background-color: #ff8d8d;
    }

    .site .ct-health-summary__adjuster-button--damage.ct-button span {
        color: #370000 !important;
    }

    .site .ct-health-summary__adjuster-button--heal.ct-button {
        background-color: #98ff8d;
    }

    .site .ct-health-summary__adjuster-button--heal.ct-button span {
        color: #003702 !important;
    }

    .ct-tab-list__nav-item--active {
        color: #ff8d8d
    }

    .ct-creature-block div,
    .ct-creature-block span {
        color: #000 !important;
    }

    .ddbc-box-background path:nth-child(2),
    .ddbc-ability-score-box-svg path:nth-child(3),
    .ddbc-inspiration-box-svg path,
    .ddbc-inspiration-token-svg path {
        fill: /*[[borderColor]]*/
    }

    .ddbc-box-background path:first-child,
    .ddbc-box-background polygon:first-child,
    .ddbc-ability-score-box-svg path:nth-child(2) {
        fill: /*[[secondaryColor]]*/
    }


    .sync-blocker-anim,
    .ct-equipment-shop__loading-icon,
    .ct-spell-manager__loading-icon,
    .spell-manager-loading-icon,
    .starting-equipment-loading-icon,
    .equipment-manager-shop-loading-icon,
    .ct-backdrop-pane .LazyLoad,
    .ct-frame-pane .LazyLoad,
    .ct-avatar-pane .LazyLoad,
    .avatar-manager-list .LazyLoad,
    .ct-theme-pane .LazyLoad,
    .sync-blocker-anim,
    .filter-listing-loading-icon,
    .ct-extra-manage-pane__loading-icon,
    .ct-loading-blocker__anim {
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='100px' height='100px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='uil-ring-alt'%3E%3Crect x='0' y='0' width='100' height='100' fill='none' class='bk'%3E%3C/rect%3E%3Ccircle cx='50' cy='50' r='40' stroke='%23131315' fill='none' stroke-width='10' stroke-linecap='round'%3E%3C/circle%3E%3Ccircle cx='50' cy='50' r='40' stroke='/*[[borderColor]]*/' fill='none' stroke-width='6' stroke-linecap='round'%3E%3Canimate attributeName='stroke-dashoffset' dur='2s' repeatCount='indefinite' from='0' to='502'%3E%3C/animate%3E%3Canimate attributeName='stroke-dasharray' dur='2s' repeatCount='indefinite' values='150.6 100.4;1 250;150.6 100.4'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E");
    }
}
